@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-light-dark: #323437;
  --background-dark: #2C2E31;
  --background-grey: #D1D0C5;
  --background-yellow: #E2B714;
  --background-dark-grey: #646669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--background-light-dark);
}

button {
  background-color: var(--background-grey);
  color: var(--background-light-grey);
  outline: none;
  border-radius: 5px;
  border: 0px;
  padding: 4px 8px;
}

h1, p, table {
  font-family: 'Roboto Mono', monospace;
  color: var(--background-grey);
}

.login-button {
  background-color: var(--background-grey);
  color: var(--background-dark);
  text-decoration: none;
}

.login-button:visited, .login-button:active {
  color: var(--background-dark);
}

.icon-container:hover {
  background-color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
