@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-light-dark: #323437;
  --background-dark: #2C2E31;
  --background-grey: #D1D0C5;
  --background-yellow: #E2B714;
  --background-dark-grey: #646669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--background-light-dark);
  /* background-image: url("../../public/bg.png"); */
}

.backg {
  width: 100%;
  height: 100%;
}

/* button {
  @apply bg-[var(--background-grey)] text-[var(--background-light-grey)] rounded-md px-2 py-1;
} */

h1, p, table {
  font-family: 'Roboto Mono', monospace;
  color: var(--background-grey);
}

.wrapper {
  z-index: -1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  object-fit: contain;
}

.avatar-image {
  border-radius: 50%;
  width: auto;
  height: auto;
  min-height: 50px;
  max-height: 300px;
  object-fit: contain;
}


