.disabled-button {
    opacity: 0.3;
    cursor: not-allowed;
}

.add-button {
    color: black;
}

.cancel-button {
    background-color: black;
    color: var(--background-grey);
}

.card-avatar .avatar-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}

p, span {
    font-family: 'Roboto Mono', monospace;
    color: var(--background-grey);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid var(--background-grey);
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-details {
    text-align: center;
  }
  
.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.green-dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* button {
    @apply bg-[var(--background-grey)] text-[var(--background-light-grey)] rounded-md px-2 py-1;
} */

.users-list button,
.friend-request-page button,
.friend-page button,
.block-page button {
    @apply bg-[var(--background-grey)] text-[var(--background-light-grey)] rounded-md px-2 py-1;
}

@media (max-width: 768px) {
    .friend-page {
      flex-direction: column;
    }
  
    .friend-section,
    .users-list {
      flex: initial;
      width: 100%;
    }
}

@media (max-width: 630px) {
    .friend-page {
      flex-direction: column;
    }
  
    .friend-section,
    .users-list {
      flex: initial;
      width: 100%;
      padding-top: 20px;
    }
}
