.disabled-button {
    opacity: 0.3; /* Reduce the opacity to make it appear greyed out */
    cursor: not-allowed; /* Change the cursor to indicate it's disabled */
}

.add-button {
    color: black;
}

.cancel-button {
    background-color: black;
}


table {
    width: 100%;
    /* border-collapse: collapse; */
    border-collapse: seperate;
    border-spacing: 0;
    overflow: auto;
    table-layout: fixed;
}

th {
    background-color: var(--background-light-dark);
    color: var(--background-grey);
    font-weight: 100;
}

td {
    padding: 30px;
    text-align: left;
    color: var(--background-grey);
    text-align: center;
    border: none 1px var(--background-light-dark)
}

td.result-win {
    background-color: green;
}

td.result-lose {
    background-color: red;
}

tr:nth-child(even) {
    background-color: var(--background-dark);
}

tr:nth-child(odd) {
    background-color: var(--background-light-dark);
}

tr.row-win {
    border-radius: 50px;
}

tr.row-lose {
    border-radius: 50px;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.avatar-image {
    border-radius: 50%;
}
